In [ ]:
def flattenlist(given, output):
    if len(given) == 0:
        return output
    if type(given[0]) == list:
        output = flattenlist(given[0], output)
    else:
        output.append(given[0])

    return flattenlist(given[1:], output)

given= [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output= flattenlist(given, [])
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [ ]:
#Ungraded
class Node:
    def __init__(self, next, bottom, val):
        self.next = next
        self.bottom = bottom
        self.val = val

def flattenlist(elem, output):
    if elem is None:
        return output

    output.append(elem.val)

    if elem.bottom is not None:
        flattenlist(elem.bottom, output)

    return flattenlist(elem.next, output)
#Driver_Code

node17 = Node(None, None, 17)
node16 = Node(None, node17, 16)
node15 = Node(None, node16, 15)

node12 = Node(None, None, 12)
node11 = Node(None, None, 11)
node10 = Node(node11, node12, 10)
node9 = Node(node10, None, 9)

node5 = Node(None, None, 5)
node4 = Node(None, None, 4)
node3 = Node(node4, node5, 3)
node2 = Node(node3, None, 2)
node1 = Node(node2, node9, 1)

# Flatten the linked list
output = []
flattenlist(node1, output)

print(output)

[1, 9, 10, 12, 11, 2, 3, 5, 4]

In [ ]:
 #Task1 a:
def factorial(a):
  if a==0 or a==1:
    return 1
  else:
    return a*factorial(a-1)
factorial(5)

120

In [ ]:
#task1 b :
def fibonacci(n):
  if n==0:
    return 0
  if n==1:
    return 1
  else:
    return fibonacci(n-1) +fibonacci (n-2)
fibonacci (5)

5

In [ ]:
#task 1 c:
def printArray(arr,count=0):
  if count==len(arr):
    return
  else:
    print(arr[count])
    return printArray(arr, count+1)
arr=[1,2,3,4,5]
printArray(arr,0)

1
2
3
4
5

In [ ]:
#Task 1d:
def powerN(base, n):
    if n == 0:
        return 1
    else:
        return base * powerN(base, n-1)
powerN(3,3)

27

In [ ]:
#Task2 a:
def decimal_to_binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return decimal_to_binary(n // 2) + str(n % 2)
decimal_to_binary(20)

'10100'

In [ ]:
#Task 2 (b)
class Node:
    def __init__(self, val):
        self.val = val
        self.next = None

def array_to_linked_list(arr):
    if not arr:
        return None
    head = Node(arr[0])
    curr = head
    for i in range(1, len(arr)):
        curr.next = Node(arr[i])
        curr = curr.next
    return head
def printListReverse(head):
    if head is None:
       return 0
    else:
        printListReverse(head.next)
        print(head.val)

arr = [10,20,30,40]
head = array_to_linked_list(arr)
print(printListReverse(head))

40
30
20
10
None

In [ ]:
#Task 2 (c)
class Node:
    def __init__(self, val):
        self.val = val
        self.next = None

def array_to_linked_list(arr):
    if not arr:
        return None
    head = Node(arr[0])
    curr = head
    for i in range(1, len(arr)):
        curr.next = Node(arr[i])
        curr = curr.next
    return head
def addList(head):
    if head is None:
        return 0
    else:
        return head.val + addList(head.next)
arr = [10,20,30,40]
head = array_to_linked_list(arr)
print(addList(head))

100

In [ ]:
#Task3 :
def hocBuilder(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return 8 + 5 * (height - 1) + hocBuilder(height - 1)
hocBuilder(5)

90

In [ ]:
#Task 4a:
def muntasir(bro):
  if bro==0:
    return 0
  else:
    muntasir(bro-1)
    print(bro, end=" ")
def vabi(n):
  if n==0:
    return 0
  else:
    vabi(n-1)
  muntasir(n)
  print()
vabi(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Task 4b:
def outerloop(i):
  if i==0:
    return 0
  else:
    outerloop(i-1)
    print(i,end="")
def pattern(i,n):
  if i==0:
    return 0
  else:
    space_counter(i-1)
    outerloop((n)-i+1)
    print()
    pattern(i-1,n)
def space_counter(n):
  if n==0:
    return 0
  else:
    space_counter(n-1)
    print("",end=" ")

pattern(6,6)

     1
    12
   123
  1234
 12345
123456

In [ ]:
#Task 5:
class FinalQ:

    def print(self, array, idx):
        if idx < len(array):
            profit = self.calcProfit(array[idx])
            print(f"Profit for investment {array[idx]}: {profit}")
            self.print(array, idx+1)

    def calcProfit(self, investment):
        if investment <= 100000:
            return (investment - 25000) * 0.045
        else:
            return (100000 - 25000) * 0.045 + (investment - 100000) * 0.08
array=[25000,100000,250000,350000]
f = FinalQ()
f.print(array,0)

Profit for investment 25000: 0.0
Profit for investment 100000: 3375.0
Profit for investment 250000: 15375.0
Profit for investment 350000: 23375.0